{% extends 'base.html' %}
{% load static %} 

{% block sidebar %}

{% endblock %}

{% block content %}

<div class="dd-card3">

    {% for message in messages %}
        <p style="font-size: 15px;color: rgb(110, 106, 106);">{{message}}</p>
    {% endfor %}

    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        
        <div class="input-group">
            <input type="text" name="username" placeholder="Username..." class="form-control">
        </div>

        <div class="input-group">
            <input type="password" name="password" placeholder="Password..." class="form-control">
        </div> 
        
        <button type="submit" class="btn">Submit</button>
    </form>

    <p>You don't have an account? Sign Up <a href="{% url 'register' %}">here</a></p>
</div>
{% endblock %}
